In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as pl
import seaborn as sns
dir_path = os.path.dirname(os.path.realpath('__file__'))
print(dir_path)
data = pd.read_csv(dir_path + '\\insurance.csv')
data.iloc[:10]

C:\Users\Rowida Nagah

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86
5   31  female  25.7         0     no  southeast   3756.62
6   46  female  33.4         1     no  southeast   8240.59
7   37  female  27.7         3     no  northwest   7281.51
8   37    male  29.8         2     no  northeast   6406.41
9   60  female  25.8         0     no  northwest  28923.14

In [2]:
data.isnull().sum() 
#check if there is a missing data

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [3]:
from sklearn.preprocessing import LabelEncoder
#sex
label = LabelEncoder()
label.fit(data.sex.drop_duplicates()) 
data.sex = label.transform(data.sex)
data.sex.iloc[:10]

0    0
1    1
2    1
3    1
4    1
5    0
6    0
7    0
8    1
9    0
Name: sex, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
#region
label2=LabelEncoder()
label2.fit(data.region.drop_duplicates())
data.region=label2.transform(data.region)
data.region.iloc[:10]

0    3
1    2
2    2
3    1
4    1
5    2
6    2
7    1
8    0
9    1
Name: region, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
label.fit(data.smoker.drop_duplicates()) 
data.smoker = label.transform(data.smoker)
data.smoker.iloc[:10]

0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: smoker, dtype: int64

In [18]:
x_features = data.drop(["expenses"], axis = 1)
x_features.head(5)

   age  sex   bmi  children  smoker  region
0   19    0  27.9         0       1       3
1   18    1  33.8         1       0       2
2   28    1  33.0         3       0       2
3   33    1  22.7         0       0       1
4   32    1  28.9         0       0       1

In [20]:
y_label=data.expenses
y_label.head(5)

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x_features, y_label, test_size = 0.3 ,random_state = 0)
x_train, x_test, y_train, y_test =x_train.values , x_test.values, y_train.values, y_test.values
x_train

array([[18. ,  0. , 28.2,  0. ,  0. ,  0. ],
       [39. ,  0. , 32.8,  0. ,  0. ,  3. ],
       [52. ,  0. , 46.8,  5. ,  0. ,  2. ],
       ...,
       [40. ,  1. , 25.1,  0. ,  0. ,  2. ],
       [19. ,  1. , 35.5,  0. ,  0. ,  1. ],
       [33. ,  0. , 18.5,  1. ,  0. ,  3. ]])

In [22]:
regression = LinearRegression()
regression.fit(x_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
y_train_pred = regression.predict(x_train)
y_test_pred = regression.predict(x_test)

print(regression.score(x_test,y_test))

0.7911519831922361