In [2]:
import pandas as pd
import os
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
df= pd.read_csv(path + '\\EEG\\user_3\\user_3_loc.csv')
df.head()

C:\Users\Rowida Nagah

           image  top_left_x  top_left_y  bottom_right_x  bottom_right_y
0  user_3/A0.jpg         124          18             214             108
1  user_3/A1.jpg         124          18             214             108
2  user_3/A2.jpg         123          19             213             109
3  user_3/A3.jpg         122          21             212             111
4  user_3/A4.jpg         122          20             212             110

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(df.image)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239], dtype=int64)

In [18]:
ll= []
for i in df.image :
    if 'A' in i :
        ll.append('A')
    elif 'B' in i :
        ll.append('B')
    elif 'C' in i :
        ll.append('C')
    elif 'D' in i :
        ll.append('D')
    elif 'E' in i :
        ll.append('E')
    elif 'F' in i :
        ll.append('F')
    elif 'H' in i :
        ll.append('H')
    elif 'G' in i :
        ll.append('G')
    elif 'B' in i :
        ll.append('B')
    elif 'I' in i :
        ll.append('I')
    elif 'K' in i :
        ll.append('K')
    elif 'L' in i :
        ll.append('L')
    elif 'M' in i :
        ll.append('M')
    elif 'N' in i :
        ll.append('N')
    elif 'B' in i :
        ll.append('B')
    elif 'O' in i :
        ll.append('O')
    elif 'P' in i :
        ll.append('P')
    elif 'Q' in i :
        ll.append('Q')
    elif 'R' in i :
        ll.append('R')
    elif 'S' in i :
        ll.append('S')
    elif 'T' in i :
        ll.append('T')
    elif 'U' in i :
        ll.append('U')
    elif 'V' in i :
        ll.append('V')
    elif 'W' in i :
        ll.append('W')
    elif 'X' in i :
        ll.append('X')
    elif 'Y' in i :
        ll.append('Y')
    
df['A-Z'] = ll 

df.head()

           image  top_left_x  top_left_y  bottom_right_x  bottom_right_y A-Z
0  user_3/A0.jpg         124          18             214             108   A
1  user_3/A1.jpg         124          18             214             108   A
2  user_3/A2.jpg         123          19             213             109   A
3  user_3/A3.jpg         122          21             212             111   A
4  user_3/A4.jpg         122          20             212             110   A

In [15]:
len(ll)

230

In [17]:
df.shape

(240, 5)