In [1]:
import os
import pandas as pd
import numpy as np
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
data_salary = pd.read_csv(path + '\\ML\\Salary_Data.csv' )
data_salary.head(10)

C:\Users\Rowida Nagah

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [2]:
y = data_salary.Salary
X = data_salary.drop('YearsExperience', axis=1)

In [3]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, y)

In [4]:
reg.coef_

array([1.])

In [5]:
reg.intercept_

2.9103830456733704e-11